# Autodetect text files
* text=auto

*.css text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.html text eol=lf
*.md text eol=lf
.gitattributes text eol=lf

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
*.txt text
*.c text
*.h text

# Ensure those won't be messed up with
*.jpg binary
*.data binary